/*The start of css*/

#Nico {
    color: #1b793c;
    text-align: center;
    font-family: 'Rubik',Helvetica, sans-serif;
}

#Nacho {
    width: 70%;
    background-color: #c6e9d2;
    align-content: center;
    text-align: center; 
    line-height: 1.8rem;
    padding: 10px 7.5px 10px 7.5px; /* Top Right Bottom Left */
    margin: 0px 0px 0px 170px;
    font-family: 'Rubik',Helvetica, sans-serif;
}

#Lalala {
    font-size: 20px;
    font-family: 'Rubik',Helvetica, sans-serif;
}

#Nacho {
    text-align: center;
}

#img {
    max-width: 6.5%;
    max-height: 6.5%;
}

#Vertigo { 
    font-size: 1.5em;
    font-family: 'Rubik',Helvetica, sans-serif;
    font-weight: bold;
}

#Link2 {
    font-size: 20px;
    font-family: 'Rubik',Helvetica, sans-serif;
}